{% extends "core/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">About</h5>
            <h1 class="mb-0">About Prouesse Fashion Academy</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Our Vision</h5>
                                <p class="mb-0">At Prouesse Fashion Academy, we envision a world where creativity and craftsmanship in fashion are celebrated and accessible to all. We strive to be a leading institution that nurtures talent, fosters innovation, and empowers individuals to make a significant impact in the fashion industry.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-custom"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Our Mission</h5>
                                <p class="mb-0">Our mission is to provide comprehensive and high-quality fashion education that combines traditional techniques with modern innovations. We aim to equip our students with the skills, knowledge, and confidence needed to excel in various fashion careers, whether it’s designing, creating, or managing fashion enterprises.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-home fa-4x text-custom"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Our History</h5>
                                <p class="mb-0">Founded in 2017, Prouesse Fashion Academy has grown from a small local school to an internationally recognized institution. Our founder, Esther Uwahamen, established the academy with a passion for fashion and a commitment to excellence. Over the years, we have trained thousands of students who have gone on to achieve remarkable success in the fashion industry.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-globe fa-4x text-custom"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-content text-end">
                                <h5 class="mb-4">Our Programs</h5>
                                <p class="mb-0">Prouesse offers a diverse range of programs tailored to meet the needs of aspiring fashion professionals at all levels. Our curriculum is designed to provide a strong foundation in fashion design, garment construction, and fashion business, while also encouraging creativity and personal expression.
                                </p>
                            </div>
                            <div class="service-icon p-4">
                                <i class="fa fa-graduation-cap fa-4x text-custom"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-scissors fa-4x text-custom"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Who We Are</h5>
                                <p class="mb-0">Prouesse is an online fashion academy dedicated to providing high-quality education and training in various aspects of fashion design and creation. We offer a range of courses that cater to different skill levels, from beginners to advanced designers. Our team consists of industry professionals, experienced instructors.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-certificate fa-4x text-custom "></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Certificate in Sewing and Garment Construction</h5>
                                <p class="mb-0">Focused on the technical aspects of fashion, this course teaches students the essential skills of sewing, pattern making, and garment construction. It’s ideal for those who wish to master the craft of creating high-quality clothing.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-user fa-4x text-custom"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Join Us</h5>
                                <p class="mb-0">Whether you are a novice eager to learn the basics of fashion design, an experienced designer looking to enhance your skills, or a fashion enthusiast wanting to explore new trends, Prouesse is the perfect place for you. Join our community and embark on an exciting journey in the world of fashion. Discover your potential, unleash your creativity, and become a part of the Prouesse family today!
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                      <div class="service-content-inner d-flex align-items-center bg-white border text-custom-border rounded p-4 pe-0">
                            <div class="service-icon p-4">
                                <i class="fa fa-book fa-4x text-custom"></i>
                            </div>
                            <div class="service-content">
                                <h5 class="mb-4">Online Courses</h5>
                                <p class="mb-0">Understanding the need for flexible learning, we offer a variety of online courses that allow students to study at their own pace from anywhere in the world. These courses cover topics such as fashion illustration, digital design, and sustainable fashion practices. Reach us today at: <a href="mailto:support@cipherKnights.com" class="email-link">support@prouessefashion.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

{% endblock %} 