<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Deletion</title>
</head>
<body>
    <p>
        Dear user,
    </p>
    <p>
        Your account has been deleted from our platform. Below is the reason you provided:
    </p>
    <p>
        {{ reason }}
    </p>
    <p>
        If you did not request this action, please contact us immediately at support@prouessefashion.com.
    </p>
    <p>
        Best regards,
        <br>
        PROUESSE Fashion Support Team
    </p>
</body>
</html>
