{% extends "core/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

     <!-- Contact Start -->
     <div class="container-fluid booking py-5 mt-4">
        <div class="container py-5">
            <div class="row g-5 align-items-center">

                
                <div class="col-lg-6">
                    <h1 class="text-white mb-3">Get in Touch</h1>
                    <p><i class="text-light fa fa-phone me-3"></i>+447466023608</p>
                    <p><i class="text-light fa fa-envelope me-3"></i>support@prouessefashion.com</p>
                    <p class="text-white mb-4"><span class="text-custom">100%</span> We are here for you any time you need our services.</p>
                    
                    <form id="emailForm">
                      <div class="row g-3">
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control bg-white border-0" id="name" placeholder="Your Name">
                                  <label for="name">Your Name</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="email" class="form-control bg-white border-0" id="email" placeholder="Your Email">
                                  <label for="email">Your Email</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control bg-white border-0" id="phone" placeholder="Your Phone Number">
                                  <label for="phone">Your Phone Number</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <select class="form-select bg-white border-0" id="service">
                                      <option value="" disabled selected>Select Service</option>
                                      <option value="Training">Training</option>
                                      <option value="Ready to Wear Dress">Ready to Wear Dress</option>
                                      <option value="Custom Made Dress">Custom Made Dress</option>
                                      <option value="Others">Others</option>
                                  </select>
                                  <label for="service">Service</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <textarea class="form-control bg-white border-0" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                  <label for="message">Special Request</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <button class="btn btn-primary text-white w-100 py-3" type="submit">Send Message</button>
                          </div>
                      </div>
                  </form>
              
                </div>
                <div class="col-lg-6">
                    <h5 class="section-booking-title pe-3">Meeting</h5>
                    <h1 class="text-white mb-4">Online Meeting</h1>
                    <p class="text-white mb-4">You can schedule a Zoom meeting with our admin for more clarification if necessary.</p>
                    <a href="#" id="scheduleMeetingButton" class="btn btn-light text-dark rounded-pill py-3 px-5 mt-2">Schedule a meeting</a>
                </div>
            </div>
        </div>
    </div>
    <!-- contact End -->
{% endblock %} 