{% extends "core/base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Student Portal</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'core:student_portal' %}">Student Portal</a>
                <a href="{% url 'gallery:gallery' %}">Video Gallery</a>
                <a href="{% url 'gallery:image_gallery' %}">Image Gallery</a>
                 <!--<a href="{% url 'gallery:upload_delete_videos' %}">Upload & Delete Videos</a>-->
                <a href="{% url 'core:ebook' %}">Ebooks</a>
            </div>
        </div>
    </div>
  </div>
  <!-- Page Header End -->


  
{% endblock %} 