{% extends "core/base.html" %}
{% load static %}
{% block title %}Student Portal{% endblock %}

{% block content %}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Student Portal</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'core:student_portal' %}">Student Portal</a>
                <a href="{% url 'gallery:gallery' %}">Video Gallery</a>
                <a href="{% url 'gallery:image_gallery' %}">Image Gallery</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'gallery:assignment_list' %}">Assignments</a>
                    <a href="{% url 'gallery:ebook_list' %}">Ebooks</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->




<!--================ Start Course Details Area =================-->
<section class="course_details_area section_gap" style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course_details_left">
                <div class="main_image mb-4">
                    <img class="img-fluid rounded" src="img/courses/course-details.jpg" alt="">
                </div>
                <div class="content_wrapper">
                    <h4 class="title" style="color: #990f4b;">Objectives</h4>
                    <div class="content mb-4">
                        <p>Prouesse Fashion aims to empower aspiring fashion designers and professionals by providing comprehensive and practical education in various aspects of fashion design and creation. The objective is to nurture creativity, technical skills, and industry knowledge among students, preparing them for successful careers in the dynamic world of fashion.</p>
                    </div>

                    <h4 class="title" style="color: #990f4b;">Eligibility</h4>
                    <div class="content mb-4">
                        <p>Prouesse Fashion welcomes individuals from diverse backgrounds, offering courses designed to nurture a passion for fashion design and creation. Whether you're a complete beginner or seasoned enthusiast, our programs require no prior experience in fashion. We encourage applicants with a strong interest in fashion to explore our offerings, ensuring each student can embark on a journey of skill development and creative exploration. Specific course requirements may vary, but all applicants are invited to engage and expand their knowledge within our inclusive learning environment.</p>
                    </div>

                    <h4 class="title" style="color: #990f4b;">Course Outline</h4>
                    <div class="content">
                        <ul class="list-group mb-4">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Fashion Design Fundamentals</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Sewing Techniques and Garment Construction</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Pattern Making and Draping</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Pattern Drafting</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Textile Science and Fabric Technology</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Fashion Illustration and CAD</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Advanced Couture Techniques</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Fashion Marketing and Merchandising</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Sustainable Fashion and Ethical Practices</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Fashion Entrepreneurship</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>Personal Styling and Image Consulting</span>
                                <a class="btn btn-primary btn-sm text-uppercase" style="background-color: #990f4b; border: none;" href="{% url 'gallery:gallery' %}">View Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 right-contents">
                <ul class="list-group mb-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Trainer’s Name</span>
                        <span style="color: #990f4b;">Esther Uwahamen</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Course Fee</span>
                        <span style="color: #990f4b;">£300</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Available Seats</span>
                        <span style="color: #990f4b;">15</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>Schedule</span>
                        <span style="color: #990f4b;">4.00 pm to 6.00 pm</span>
                    </li>
                </ul>
                <a href="https://app.zoom.us/wc?_x_zm_rtaid=M0ioKsifRFOsWhnbQXPPew.1719128754558.88e296f167671c33fb3045db3eaf0081&_x_zm_rhtaid=820" class="btn btn-secondary btn-block text-uppercase mb-4" style="background-color: #990f4b; border: none;">Join Class</a>
                <div class="content">
                    <div class="review-top row pt-3 mb-4">
                        <div class="col-lg-12">
                            <h6 class="mb-3" style="color: #990f4b;">Our Rating</h6>
                            <div class="d-flex flex-row reviews justify-content-between mb-2">
                                <span>Quality</span>
                                <div class="star">
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star" style="color: #990f4b;"></i>
                                    <i class="ti-star" style="color: #990f4b;"></i>
                                </div>
                                <span>Outstanding</span>
                            </div>
                            <div class="d-flex flex-row reviews justify-content-between mb-2">
                                <span>Punctuality</span>
                                <div class="star">
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star" style="color: #990f4b;"></i>
                                    <i class="ti-star" style="color: #990f4b;"></i>
                                </div>
                                <span>Outstanding</span>
                            </div>
                            <div class="d-flex flex-row reviews justify-content-between mb-2">
                                <span>Quality</span>
                                <div class="star">
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star checked" style="color: #990f4b;"></i>
                                    <i class="ti-star" style="color: #990f4b;"></i>
                                    <i class="ti-star" style="color: #990f4b;"></i>
                                </div>
                                <span>Outstanding</span>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="feedback mb-4">
                        <h6 style="color: #990f4b;">Your Feedback</h6>
                        <textarea name="feedback" class="form-control" cols="10" rows="5"></textarea>
                        <div class="mt-2 text-right">
                            <a href="#" class="btn btn-secondary text-uppercase" style="background-color: #990f4b; border: none;">Submit</a>
                        </div>
                    </div>-->
                    <div class="comments-area mb-4">
                        <div class="comment-list mb-3">
                            <div class="single-comment single-reviews d-flex">
                                <div class="user d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="{% static 'images/mannequin.jpg' %}" alt="" class="rounded-circle">
                                    </div>
                                    <div class="desc ml-3">
                                        <h5><a href="#" style="color: #990f4b;">Pattern Draping</a></h5>
                                        <div class="star">
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star" style="color: #990f4b;"></i>
                                            <i class="ti-star" style="color: #990f4b;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list mb-3">
                            <div class="single-comment single-reviews d-flex">
                                <div class="user d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="{% static 'images/costume.jpg' %}" alt="" class="rounded-circle">
                                    </div>
                                    <div class="desc ml-3">
                                        <h5><a href="#" style="color: #990f4b;">Pattern Ilustration</a></h5>
                                        <div class="star">
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star" style="color: #990f4b;"></i>
                                            <i class="ti-star" style="color: #990f4b;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list mb-3">
                            <div class="single-comment single-reviews d-flex">
                                <div class="user d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="{% static 'images/fashion draft.jpg' %}" alt="" class="rounded-circle">
                                    </div>
                                    <div class="desc ml-3">
                                        <h5><a href="#" style="color: #990f4b;">Pattern Drafting</a></h5>
                                        <div class="star">
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star checked" style="color: #990f4b;"></i>
                                            <i class="ti-star" style="color: #990f4b;"></i>
                                            <i class="ti-star" style="color: #990f4b;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Course Details Area =================-->
</div>
{% endblock %} 